<html>
	<head>
		<meta charset="utf-8"/>
		<title>Insert TaskBoard Details</title>
	</head>
	<body>
		{% if tskdb %}
		Insert TaskBoard Information Here<br/>
	  <p>Hello {{ eletronicvehicle }}</p>
		<!--#name, manufacturer, year, battery size (Kwh), WLTP range(Km), cost, power (Kw).-->
		<form method="post" action="/add">
			{% for tb in user %}
				Email:<input type="Email" id="email_address" name="email_address" value=" {{tb.email_address}}" disabled />
				<input type="hidden" id="hdnid" name="hdnid" value=" {{tb.key.id()}}" />
			{% endfor %}
			<br />
			<br />
			Name:<input type="text" id="name" name="name" required/>
			<br />
			<br />
			<input type="submit" value="Add" name="button"/>
		</form>
		<form method="post" action="/add">
			<input type="submit" value="Cancel" name="button"/>
		</form>
		{% else %}
	  <p>Hello guest welcome to the application</p>
		<p>You Can Not Access This Unless You LogIn</p>
	  {% endif %}
	  <p>you can {{ url_string }} <a href='{{ url }}'>here</a></p>
	</body>
</html>
